:root {
    /* Widths */
    --mobile: 375px;
    --desktop: 1440px;

    /* Colors */
    --verde: hsl(171, 66%, 44%);
    --azul: hsl(233, 100%, 69%);
    --azul-oscuro: hsl(210, 10%, 33%);
    --gris: hsl(201, 11%, 66%);
    --blanco: #FFF;



    /* Typography */
    --font-family: 'Bai Jamjuree', sans-serif;
    --font-size: 1.8rem;

}


*, 
::after,
::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;     
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    text-align: center; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--azul-oscuro);
}

p{
    color: var(--gris);
}

/* ---- header ----*/

.header {
    margin-bottom: 100px;
    background: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    padding: 0 15px;
}

.header__logo {
    margin-top: 100px;
}

.header__title {
    font-size: calc(var(--font-size) + 14px);
    margin-top: 50px;
    margin-bottom: 20px;
}

.header__pgraph {
    margin-bottom: 40px;
}

.header__container-buttons {
    display: flex;
    flex-direction: column;
}

.header__buttons {
    padding: 15px 30px;
    border-radius: 50px;
    color: var(--blanco);
    letter-spacing: 2px;
}

.header__buttons:hover {
    cursor: pointer;
}

.header__buttons:nth-of-type(1) {
    margin-bottom: 20px;
}

.header__button-one {
    background-color: var(--verde);
    border-color: var(--verde);
}

.header__button-two {
    background-color: var(--azul);
    border-color: var(--azul);
}

/* ---- main ---- */

.main {
    padding: 0 15px;
    margin-bottom: 100px;
}

.main__title {
    margin-bottom: 20px;
}

.main__pgraph {
    margin-bottom: 70px;
}

.main__image {
    width: 100%;
    margin-bottom: 50px;
}

.main__characteristics {
    margin-bottom: 50px;
}

.main__title-charateristics {
    margin-bottom: 15px;
}

.main__pgraph-characteristics {
    color: var(--gris);
}